{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>PlayNews</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png'%}" rel="icon">

  <!-- Google Fonts -->

  <!-- Nanum Myeongjo -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap" rel="stylesheet">

  <!-- Black Han Sans -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">

  <!-- Gowun Batang -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap" rel="stylesheet">
  

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/main.css'%}" rel="stylesheet">

  <!-- Font awesome icons -->
  <script src="https://kit.fontawesome.com/693ecea0b5.js" crossorigin="anonymous"></script>

  <!-- =======================================================
  * Template Name: Impact - v1.1.1
  * Template URL: https://bootstrapmade.com/impact-bootstrap-business-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  
  <section id="topbar" class="topbar d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        
        <a href="mailto:contact@example.com"></a>
        <span></span>
      </div>
      <div class="social-links d-none d-md-flex align-items-center">
        <a href="{% url 'go_loginpage' %}"><i class="fa-solid fa-right-to-bracket"></i></a>
        <a href="#"><i class="fa-solid fa-box-archive"></i></a>
        <a href="#"><i class="fa-solid fa-user"></i></a>
        <!-- 챗봇 연결 링크 -->
        <a href="#"><i class="fa-solid fa-comments"></i></a>
      </div>
    </div>
  </section>
  
  <!-- End Top Bar -->

  <header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="{% url 'go_mainpage' %}" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="{% static 'assets/img/logo.png'%}" alt=""> -->
        <h1>PlayNews<span>.</span></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="#hero">홈</a></li>
          <li><a href="#keyword">키워드</a></li>
          <li><a href="#news">오늘의 뉴스</a></li>
          <li><a href="#analyze">언론사별 기사 분석</a></li>
          <!-- 챗봇 연결 링크 -->
          <li><a href="{% url 'go_chatbot' %}">궁금한 게 있으신가요?</a></li>
        </ul>
      </nav><!-- .navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->
  <!-- End Header -->

  <!-- ======= Main Section ======= -->
  <section id="main" class="hero">
    <div class="container position-relative">
      <div class="row gy-5" data-aos="fade-in">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
          <h2>누구나 경제와 친해질 수 있는 곳, <span>PlayNews</span></h2>
          <p>📖 ‘Play news (경제 잡아드림)’와 함께 경제 관련 지식을 습득해 봐요! 📖</p>
        </div>
      </div>
    </div>

    <div class="icon-boxes position-relative">
      <div class="container position-relative">
        <div class="row gy-4 mt-5">
        </div>
      </div>
    </div>

    </div>
  </section>
  <!-- End Hero Section -->

  <main id="main">

  <!-- ======= Keyword Section ======= -->
  <section id="keyword" class="services sections-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>이번주 화제 키워드는?</h2>
        <div>👇</div>
        <div>아래에서 확인해 보세요</div>
      </div>

      <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-4 col-md-6">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-activity"></i>
            </div>
            <h3>인플레이션</h3>
            <p>1위</p>
            <a href="#" class="readmore stretched-link">더 알아 보기 <i class="bi bi-arrow-right"></i></a>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-broadcast"></i>
            </div>
            <h3>물가</h3>
            <p>2위</p>
            <a href="#" class="readmore stretched-link">더 알아 보기 <i class="bi bi-arrow-right"></i></a>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-easel"></i>
            </div>
            <h3>부동산</h3>
            <p>3위</p>
            <a href="#" class="readmore stretched-link">더 알아 보기 <i class="bi bi-arrow-right"></i></a>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-bounding-box-circles"></i>
            </div>
            <h3>환율</h3>
            <p>4위</p>
            <a href="#" class="readmore stretched-link">더 알아 보기 <i class="bi bi-arrow-right"></i></a>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-calendar4-week"></i>
            </div>
            <h3>금리</h3>
            <p>5위</p>
            <a href="#" class="readmore stretched-link">더 알아 보기 <i class="bi bi-arrow-right"></i></a>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-chat-square-text"></i>
            </div>
            <h3>무지출</h3>
            <p>6위</p>
            <a href="#" class="readmore stretched-link">더 알아 보기 <i class="bi bi-arrow-right"></i></a>
          </div>
        </div><!-- End Service Item -->

      </div>

    </div>
  </section><!-- End Our Services Section -->

    <!-- ======= Portfolio Section ======= -->
  <section id="news" class="portfolio sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>오늘의 뉴스</h2>
          <p>🧐</p>
          <p>오늘 주목해야 하는 뉴스는?</p>
        </div>

        <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order" data-aos="fade-up" data-aos-delay="100">

          <div>
            <ul class="portfolio-flters">
              <li data-filter="*" class="filter-active">모두</li>
              <li data-filter=".filter-app">인플레이션</li>
              <li data-filter=".filter-product">물가</li>
              <li data-filter=".filter-branding">부동산</li>
              <li data-filter=".filter-books">환율</li>
            </ul><!-- End Portfolio Filters -->
          </div>

          <div class="row gy-4 portfolio-container">

            <div class="col-xl-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <a href="{% static 'assets/img/portfolio/app-1.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'assets/img/portfolio/app-1.jpg'%}" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="portfolio-details.html" title="More Details">인플레이션</a></h4>
                  <p>댈러스 연은 총재 "인플레 7.7%로 완화돼 안도… 갈 길 멀다“
                  </p>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-4 col-md-6 portfolio-item filter-product">
              <div class="portfolio-wrap">
                <a href="{% static 'assets/img/portfolio/product-1.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'assets/img/portfolio/product-1.jpg'%}" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="portfolio-details.html" title="More Details">물가</a></h4>
                  <p>美 10월 소비자물가 7.7% 상승…"예상보다 낮았다"
</p>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-4 col-md-6 portfolio-item filter-branding">
              <div class="portfolio-wrap">
                <a href="{% static 'assets/img/portfolio/branding-1.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'assets/img/portfolio/branding-1.jpg'%}" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="portfolio-details.html" title="More Details">부동산</a></h4>
                  <p>규제지역 싹 다 푼 이유 있었네…서울 아파트값 역대 최대 하락
                  </p>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-4 col-md-6 portfolio-item filter-books">
              <div class="portfolio-wrap">
                <a href="{% static 'assets/img/portfolio/books-1.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'assets/img/portfolio/books-1.jpg'%}" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="portfolio-details.html" title="More Details">환율</a></h4>
                  <p>채권시장 위기 “이제 시작”...내년 외화채권 100억弗 만기 도래
                  </p>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <a href="{% static 'assets/img/portfolio/app-2.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'assets/img/portfolio/app-2.jpg'%}" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="portfolio-details.html" title="More Details">인플레이션</a></h4>
                  <p>뉴욕연은 총재 "美 장기 기대인플레이션, 잘 고정돼 있어"</p>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-4 col-md-6 portfolio-item filter-product">
              <div class="portfolio-wrap">
                <a href="{% static 'assets/img/portfolio/product-2.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'assets/img/portfolio/product-2.jpg'%}" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="portfolio-details.html" title="More Details">물가</a></h4>
                  <p>생산자물가 22개월만에 '마이너스' …디플레 경고음 커지는 中
                  </p>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-4 col-md-6 portfolio-item filter-branding">
              <div class="portfolio-wrap">
                <a href="{% static 'assets/img/portfolio/branding-2.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'assets/img/portfolio/branding-2.jpg'%}" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="portfolio-details.html" title="More Details">부동산</a></h4>
                  <p>은마아파트 무개념 이태원 참사 현수막…강남구청 경고장 날렸다</p>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-4 col-md-6 portfolio-item filter-books">
              <div class="portfolio-wrap">
                <a href="{% static 'assets/img/portfolio/books-2.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'assets/img/portfolio/books-2.jpg'%}" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="portfolio-details.html" title="More Details">환율</a></h4>
                  <p>“美 선거 공화당 우세”…원·달러 환율 두달만에 1360원대로 하락</p>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <a href="{% static 'assets/img/portfolio/app-3.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'assets/img/portfolio/app-3.jpg'%}" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="portfolio-details.html" title="More Details">인플레이션</a></h4>
                  <p>“이번 인플레 70년대 유가파동때와 달라… 장기화될 듯”</p>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-4 col-md-6 portfolio-item filter-product">
              <div class="portfolio-wrap">
                <a href="{% static 'assets/img/portfolio/product-3.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'assets/img/portfolio/product-3.jpg'%}" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="portfolio-details.html" title="More Details">물가</a></h4>
                  <p>10월 물가 5.7% 올라 다시 상승폭 확대…공공요금 역대 최대 폭 상승</p>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-4 col-md-6 portfolio-item filter-branding">
              <div class="portfolio-wrap">
                <a href="{% static 'assets/img/portfolio/branding-3.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'assets/img/portfolio/branding-3.jpg'%}" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="portfolio-details.html" title="More Details">부동산</a></h4>
                  <p>부동산 규제 해제에도 부산 아파트 매매가 큰 폭 하락 </p>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-4 col-md-6 portfolio-item filter-books">
              <div class="portfolio-wrap">
                <a href="{% static 'assets/img/portfolio/books-3.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'assets/img/portfolio/books-3.jpg'%}" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="portfolio-details.html" title="More Details">환율</a></h4>
                  <p>추경호 “외환 충분, 무리한 환율 방어 안 해… 부동산 PF 긴장하며 봐야”</p>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

          </div><!-- End Portfolio Container -->

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Recent Blog Posts Section ======= -->
    <section id="analyze" class="recent-posts sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>언론사별 기사 분석</h2>
          <p>🤔</p>
          <p>각 언론사는 같은 주제인 '부동산'에 대해서 어떻게 기술했을까?</p>
        </div>

        <div class="row gy-4">

          <div class="col-xl-4 col-md-6">
            <article>

              <div class="post-img">
                <img src="{% static 'assets/img/blog/blog-1.jpg'%}" alt="" class="img-fluid">
              </div>

              <p class="post-category">이데일리</p>

              <h2 class="title">
                <a href="blog-details.html">이데일리 경향 분석</a>
              </h2>

              <div class="d-flex align-items-center">
                <div class="post-meta">
                  <p class="post-author">양희진</p>
                  <p class="post-date">
                    <time datetime="2022-01-01">2022.11.5</time>
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->

          <div class="col-xl-4 col-md-6">
            <article>

              <div class="post-img">
                <img src="{% static 'assets/img/blog/blog-2.jpg'%}" alt="" class="img-fluid">
              </div>

              <p class="post-category">프라임 경제</p>

              <h2 class="title">
                <a href="blog-details.html">프라임 경제 경향 분석</a>
              </h2>

              <div class="d-flex align-items-center">
                <div class="post-meta">
                  <p class="post-author">류승연</p>
                  <p class="post-date">
                    <time datetime="2022-01-01">2022.11.6</time>
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->

          <div class="col-xl-4 col-md-6">
            <article>

              <div class="post-img">
                <img src="{% static 'assets/img/blog/blog-3.jpg'%}" alt="" class="img-fluid">
              </div>

              <p class="post-category">조선Biz</p>

              <h2 class="title">
                <a href="blog-details.html">조선Biz 경향 분석</a>
              </h2>

              <div class="d-flex align-items-center">
                <div class="post-meta">
                  <p class="post-author">이민희</p>
                  <p class="post-date">
                    <time datetime="2022-01-01">2022.11.3</time>
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->

        </div><!-- End recent posts list -->

      </div>
    </section><!-- End Recent Blog Posts Section -->
  
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="{% url 'go_mainpage' %}" class="logo d-flex align-items-center">
            <span>PlayNews</span>
          </a>
          <span>누구나 경제와 친해질 수 있는 곳, PlayNews</span>
          <br>
          <span>💚💚💚💚💚</span>
        </div>

      </div>
    </div>

    <div class="container mt-4">
      <div class="copyright">
        &copy; Copyright <strong><span>PlayNews</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/impact-bootstrap-business-website-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>&nbsp And &nbsp<span>Seungyeon Ryu</span>
      </div>
    </div>

  </footer><!-- End Footer -->
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js'%}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js'%}"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js'%}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js'%}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js'%}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js'%}"></script>

</body>

</html>