{% extends 'base.html' %}
{%load static%}
{% block title %}Home{% endblock %}


{% block content %}
  <!-- ======= Main Section ======= -->
  <section id="main_title" class="hero">
    <div class="container position-relative">
      <div class="row gy-5" data-aos="fade-in">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
          <h2>누구나 경제와 친해질 수 있는 곳, <span>PlayNews</span></h2>
          <p>📖 ‘Play news (경제 잡아드림)’와 함께 경제 관련 지식을 습득해 봐요! 📖</p>
        </div>
      </div>
    </div>

    <div class="icon-boxes position-relative">
      <div class="container position-relative">
        <div class="row gy-4 mt-5">
        </div>
      </div>
    </div>

    </div>
  </section>
  <!-- End Hero Section -->

  <main id="main">

  <!-- ======= Keyword Section ======= -->
  <section id="keyword" class="services sections-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>이번주 화제 키워드는?</h2>
        <div>👇</div>
        <div>아래에서 확인해 보세요</div>
      </div>

      <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-4 col-md-6">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-activity"></i>
            </div>
            <h3>인플레이션</h3>
            <p>1위</p>
            <a href="#" class="readmore stretched-link">더 알아 보기 <i class="bi bi-arrow-right"></i></a>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-broadcast"></i>
            </div>
            <h3>물가</h3>
            <p>2위</p>
            <a href="#" class="readmore stretched-link">더 알아 보기 <i class="bi bi-arrow-right"></i></a>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-easel"></i>
            </div>
            <h3>부동산</h3>
            <p>3위</p>
            <a href="#" class="readmore stretched-link">더 알아 보기 <i class="bi bi-arrow-right"></i></a>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-bounding-box-circles"></i>
            </div>
            <h3>환율</h3>
            <p>4위</p>
            <a href="#" class="readmore stretched-link">더 알아 보기 <i class="bi bi-arrow-right"></i></a>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-calendar4-week"></i>
            </div>
            <h3>금리</h3>
            <p>5위</p>
            <a href="#" class="readmore stretched-link">더 알아 보기 <i class="bi bi-arrow-right"></i></a>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-chat-square-text"></i>
            </div>
            <h3>무지출</h3>
            <p>6위</p>
            <a href="#" class="readmore stretched-link">더 알아 보기 <i class="bi bi-arrow-right"></i></a>
          </div>
        </div><!-- End Service Item -->

      </div>

    </div>
  </section><!-- End Our Services Section -->

    <!-- ======= Portfolio Section ======= -->
  <section id="news" class="portfolio sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>오늘의 뉴스</h2>
          <p>🧐</p>
          <p>오늘 주목해야 하는 뉴스는?</p>
        </div>

        <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order" data-aos="fade-up" data-aos-delay="100">

          <div>
            <ul class="portfolio-flters">
              <li data-filter="*" class="filter-active">모두</li>
              {% for news_keyword in news_keyword_list %}
              <li data-filter=".filter-{{news_keyword}}">{{news_keyword}}</li>
              {% endfor %}
            </ul><!-- End Portfolio Filters -->
          </div>

          <div class="row gy-4 portfolio-container">
            {% for newsinfo in newsinfos %}
            <div class="col-xl-4 col-md-6 portfolio-item filter-{{newsinfo.keyword}}">
              <div class="portfolio-wrap">
                <a href="{{newsinfo.img_link}}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{{newsinfo.img_link}}" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4>{{newsinfo.keyword}}</h4>
                  <p>
                    <a href="/article/{{ newsinfo.newsid }}" title="More Details">{{newsinfo.title}}</a>
                  </p>
                </div>
              </div>
            </div>
            {% endfor %}

          </div><!-- End Portfolio Container -->

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Recent Blog Posts Section ======= -->
    <section id="analyze" class="recent-posts sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>언론사별 기사 분석</h2>
          <p>🤔</p>
          <p>각 언론사는 같은 주제에 대해서 어떻게 기술했을까?</p>
        </div>


        <div class="row gy-4">

          {% for news_firm in news_firm_list %}
          <div class="col-xl-4 col-md-6">
            <article>

              <!--
              <div class="post-img">
                <img src="{% static 'assets/img/blog/blog-1.jpg'%}" alt="" class="img-fluid">
              </div>
              -->

              <p class="post-category">{{news_firm}}</p>

              <h2 class="title">
                <a href="/news_firm/{{news_firm}}">{{news_firm}}</a>
              </h2>

              <!--
              <div class="d-flex align-items-center">
                <div class="post-meta">
                  <p class="post-author">양희진</p>
                  <p class="post-date">
                    <time datetime="2022-01-01">2022.11.5</time>
                  </p>
                </div>
              </div>
              -->

            </article>
          </div><!-- End post list item -->

          <!--
          <div class="col-xl-4 col-md-6">
            <article>

              <div class="post-img">
                <img src="{% static 'assets/img/blog/blog-2.jpg'%}" alt="" class="img-fluid">
              </div>

              <p class="post-category">프라임 경제</p>

              <h2 class="title">
                <a href="blog-details.html">프라임 경제 경향 분석</a>
              </h2>

              <div class="d-flex align-items-center">
                <div class="post-meta">
                  <p class="post-author">류승연</p>
                  <p class="post-date">
                    <time datetime="2022-01-01">2022.11.6</time>
                  </p>
                </div>
              </div>

            </article>
          </div>
          -->

          <!--
          <div class="col-xl-4 col-md-6">
            <article>

              <div class="post-img">
                <img src="{% static 'assets/img/blog/blog-3.jpg'%}" alt="" class="img-fluid">
              </div>

              <p class="post-category">조선Biz</p>

              <h2 class="title">
                <a href="blog-details.html">조선Biz 경향 분석</a>
              </h2>

              <div class="d-flex align-items-center">
                <div class="post-meta">
                  <p class="post-author">이민희</p>
                  <p class="post-date">
                    <time datetime="2022-01-01">2022.11.3</time>
                  </p>
                </div>
              </div>

            </article>

          </div>
          -->
          {% endfor %}
        </div><!-- End recent posts list -->

      </div>
    </section><!-- End Recent Blog Posts Section -->
  
  </main><!-- End #main -->
  {% endblock %}