{% extends 'base.html' %}
{%load static%}
{% block title %}Home{% endblock %}


{% block content %}
  <!-- ======= Main Section ======= -->
  <section id="main_title" class="hero">
    <div class="container position-relative">
      <div class="row gy-5" data-aos="fade-in">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
          <h2>누구나 경제와 친해질 수 있는 곳, <span>PlayNews</span></h2>
          <p>📖 ‘Play news (경제 잡아드림)’와 함께 경제 관련 지식을 습득해 봐요! 📖</p>
        </div>
      </div>
    </div>

    <div class="icon-boxes position-relative">
      <div class="container position-relative">
        <div class="row gy-4 mt-5">
        </div>
      </div>
    </div>

    </div>
  </section>
  <!-- End Hero Section -->

  <main id="main">

  <!-- ======= Keyword Section ======= -->
  <section id="keyword" class="services sections-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>이번주 화제 키워드는?</h2>
        <div>👇</div>
        <div>아래에서 확인해 보세요</div>
      </div>

      <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-4 col-md-6">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-activity"></i>
            </div>
            <h3>인플레이션</h3>
            <p>1위</p>
            <a href="#" class="readmore stretched-link">더 알아 보기 <i class="bi bi-arrow-right"></i></a>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-broadcast"></i>
            </div>
            <h3>물가</h3>
            <p>2위</p>
            <a href="#" class="readmore stretched-link">더 알아 보기 <i class="bi bi-arrow-right"></i></a>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-easel"></i>
            </div>
            <h3>부동산</h3>
            <p>3위</p>
            <a href="#" class="readmore stretched-link">더 알아 보기 <i class="bi bi-arrow-right"></i></a>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-bounding-box-circles"></i>
            </div>
            <h3>환율</h3>
            <p>4위</p>
            <a href="#" class="readmore stretched-link">더 알아 보기 <i class="bi bi-arrow-right"></i></a>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-calendar4-week"></i>
            </div>
            <h3>금리</h3>
            <p>5위</p>
            <a href="#" class="readmore stretched-link">더 알아 보기 <i class="bi bi-arrow-right"></i></a>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-chat-square-text"></i>
            </div>
            <h3>무지출</h3>
            <p>6위</p>
            <a href="#" class="readmore stretched-link">더 알아 보기 <i class="bi bi-arrow-right"></i></a>
          </div>
        </div><!-- End Service Item -->

      </div>

    </div>
  </section><!-- End Our Services Section -->

    <!-- ======= Portfolio Section ======= -->
  <section id="news" class="portfolio sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>오늘의 뉴스</h2>
          <p>🧐</p>
          <p>오늘 주목해야 하는 뉴스는?</p>
        </div>

        <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order" data-aos="fade-up" data-aos-delay="100">

          <div>
            <ul class="portfolio-flters">
              <li data-filter="*" class="filter-active">모두</li>
              <li data-filter=".filter-1">비트코인</li>
              <li data-filter=".filter-2">주식</li>
              <li data-filter=".filter-3">부동산</li>
              <li data-filter=".filter-4">환율</li>
            </ul><!-- End Portfolio Filters -->
          </div>

          <div class="row gy-4 portfolio-container">

            <div class="col-xl-4 col-md-6 portfolio-item filter-1">
              <div class="portfolio-wrap">
                <a href="{% static 'assets/img/portfolio/app-1.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{{newsinfo1.img_link}}" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="/article" title="More Details">{{newsinfo1.keyword}}</a></h4>
                  <p>{{newsinfo1.title}}
                  </p>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-4 col-md-6 portfolio-item filter-2">
              <div class="portfolio-wrap">
                <a href="{% static 'assets/img/portfolio/product-1.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'assets/img/portfolio/product-1.jpg'%}" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="portfolio-details.html" title="More Details">물가</a></h4>
                  <p>美 10월 소비자물가 7.7% 상승…"예상보다 낮았다"
</p>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-4 col-md-6 portfolio-item filter-3">
              <div class="portfolio-wrap">
                <a href="{% static 'assets/img/portfolio/branding-1.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'assets/img/portfolio/branding-1.jpg'%}" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="portfolio-details.html" title="More Details">부동산</a></h4>
                  <p>규제지역 싹 다 푼 이유 있었네…서울 아파트값 역대 최대 하락
                  </p>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-4 col-md-6 portfolio-item filter-4">
              <div class="portfolio-wrap">
                <a href="{% static 'assets/img/portfolio/books-1.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'assets/img/portfolio/books-1.jpg'%}" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="portfolio-details.html" title="More Details">환율</a></h4>
                  <p>채권시장 위기 “이제 시작”...내년 외화채권 100억弗 만기 도래
                  </p>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-4 col-md-6 portfolio-item filter-1">
              <div class="portfolio-wrap">
                <a href="{% static 'assets/img/portfolio/app-2.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{{newsinfo1.img_link}}" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="portfolio-details.html" title="More Details">{{newsinfo2.keyword}}</a></h4>
                  <p>{{newsinfo2.title}}</p>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-4 col-md-6 portfolio-item filter-2">
              <div class="portfolio-wrap">
                <a href="{% static 'assets/img/portfolio/product-2.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'assets/img/portfolio/product-2.jpg'%}" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="portfolio-details.html" title="More Details">물가</a></h4>
                  <p>생산자물가 22개월만에 '마이너스' …디플레 경고음 커지는 中
                  </p>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-4 col-md-6 portfolio-item filter-3">
              <div class="portfolio-wrap">
                <a href="{% static 'assets/img/portfolio/branding-2.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'assets/img/portfolio/branding-2.jpg'%}" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="portfolio-details.html" title="More Details">부동산</a></h4>
                  <p>은마아파트 무개념 이태원 참사 현수막…강남구청 경고장 날렸다</p>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-4 col-md-6 portfolio-item filter-4">
              <div class="portfolio-wrap">
                <a href="{% static 'assets/img/portfolio/books-2.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'assets/img/portfolio/books-2.jpg'%}" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="portfolio-details.html" title="More Details">환율</a></h4>
                  <p>“美 선거 공화당 우세”…원·달러 환율 두달만에 1360원대로 하락</p>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-4 col-md-6 portfolio-item filter-1">
              <div class="portfolio-wrap">
                <a href="{% static 'assets/img/portfolio/app-3.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{{newsinfo3.img_link}}" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="portfolio-details.html" title="More Details">비트코인</a></h4>
                  {{newsinfo3.title}}
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-4 col-md-6 portfolio-item filter-2">
              <div class="portfolio-wrap">
                <a href="{% static 'assets/img/portfolio/product-3.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'assets/img/portfolio/product-3.jpg'%}" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="portfolio-details.html" title="More Details">물가</a></h4>
                  <p>10월 물가 5.7% 올라 다시 상승폭 확대…공공요금 역대 최대 폭 상승</p>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-4 col-md-6 portfolio-item filter-3">
              <div class="portfolio-wrap">
                <a href="{% static 'assets/img/portfolio/branding-3.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'assets/img/portfolio/branding-3.jpg'%}" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="portfolio-details.html" title="More Details">부동산</a></h4>
                  <p>부동산 규제 해제에도 부산 아파트 매매가 큰 폭 하락 </p>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-4 col-md-6 portfolio-item filter-4">
              <div class="portfolio-wrap">
                <a href="{% static 'assets/img/portfolio/books-3.jpg'%}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'assets/img/portfolio/books-3.jpg'%}" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="portfolio-details.html" title="More Details">환율</a></h4>
                  <p>추경호 “외환 충분, 무리한 환율 방어 안 해… 부동산 PF 긴장하며 봐야”</p>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

          </div><!-- End Portfolio Container -->

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Recent Blog Posts Section ======= -->
    <section id="analyze" class="recent-posts sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>언론사별 기사 분석</h2>
          <p>🤔</p>
          <p>각 언론사는 같은 주제인 '부동산'에 대해서 어떻게 기술했을까?</p>
        </div>

        <div class="row gy-4">

          <div class="col-xl-4 col-md-6">
            <article>

              <div class="post-img">
                <img src="{% static 'assets/img/blog/blog-1.jpg'%}" alt="" class="img-fluid">
              </div>

              <p class="post-category">이데일리</p>

              <h2 class="title">
                <a href="blog-details.html">이데일리 경향 분석</a>
              </h2>

              <div class="d-flex align-items-center">
                <div class="post-meta">
                  <p class="post-author">양희진</p>
                  <p class="post-date">
                    <time datetime="2022-01-01">2022.11.5</time>
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->

          <div class="col-xl-4 col-md-6">
            <article>

              <div class="post-img">
                <img src="{% static 'assets/img/blog/blog-2.jpg'%}" alt="" class="img-fluid">
              </div>

              <p class="post-category">프라임 경제</p>

              <h2 class="title">
                <a href="blog-details.html">프라임 경제 경향 분석</a>
              </h2>

              <div class="d-flex align-items-center">
                <div class="post-meta">
                  <p class="post-author">류승연</p>
                  <p class="post-date">
                    <time datetime="2022-01-01">2022.11.6</time>
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->

          <div class="col-xl-4 col-md-6">
            <article>

              <div class="post-img">
                <img src="{% static 'assets/img/blog/blog-3.jpg'%}" alt="" class="img-fluid">
              </div>

              <p class="post-category">조선Biz</p>

              <h2 class="title">
                <a href="blog-details.html">조선Biz 경향 분석</a>
              </h2>

              <div class="d-flex align-items-center">
                <div class="post-meta">
                  <p class="post-author">이민희</p>
                  <p class="post-date">
                    <time datetime="2022-01-01">2022.11.3</time>
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->

        </div><!-- End recent posts list -->

      </div>
    </section><!-- End Recent Blog Posts Section -->
  
  </main><!-- End #main -->
  {% endblock %}