<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="{% url 'go_mainpage' %}">main page</a>
<br>
<form method = "POST" action="{% url 'signup' %}">
    {% csrf_token %}
    <p>
        <input id="username" name="username" placeholder="이름" required />
    </p>
    <p>
        <input id="userid" name="userid" placeholder="아이디" required />
        <button class="btn btn-lg btn-primary btn-block" type="submit" value = "checkid">중복 확인</button>
    </p>
    <p>
        <input id="userpw" name="userpw" placeholder="비밀번호" type="password" required />
    </p>
    <p>
        <button class="btn btn-lg btn-primary btn-block" type="submit" value="signup">회원가입</button>
    </p>
</form>
</body>
</html>